/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
    --color-primary: #3b82f6;
    --color-secondary: #10b981;

    --radius-none: 0px;
    --radius-sm: 4px;
    --radius-DEFAULT: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 20px;
    --radius-2xl: 24px;
    --radius-3xl: 32px;
    --radius-full: 9999px;
    --radius-button: 8px;
}

html {
    scroll-behavior: smooth;
}
